<!DOCTYPE html>
<html>
<head>
	<title>CSS Selectors</title>
	<style>
		*{
            font-family : cursive;
			background-color: black;
		}
		h1{
			color: orange;
		}
		p{
			color: purple;
		}
	</style>
</head>
<body>
		<h1>Studytonight</h1>
		<p>Our mission is to empower young Students to be the inventors and creators.</p>
</body>
</html>
