<!DOCTYPE html>
<html>

<head>
    <title>CSS Selectors</title>
    <style>
        #heading,
        .para,
        p {
            color: purple;
            text-align: center;
            font-family: cursive;
        }
    </style>
</head>

<body>
    <h1 id="heading">Studytonight</h1>
    <p>Our mission is to empower young Students to be the inventors and creators.</p>
    <div class="para">We are here to simplify your journey to become a coder.</div>
</body>

</html>
