<!DOCTYPE html>
<html>
<head>
	<title>CSS Text Decoration</title>
	<style>
		h1{
			text-decoration: overline;
			text-align: center;
			color: purple;
		}

		div{
			text-decoration: underline;
			text-align: center;
			word-spacing: 10px;
			color: blue;
		}

	</style>
</head>
<body>
	<h1>Studytonight</h1>
	<div>We at Studytonight believe that by widening the reach of education, by making it freely available, so much can be achieved.</div>
</body>
</html>
