<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="gradiant.css"> -->
    <style>
        .gradiant {
            margin: auto;
            height: 300px;
            width: 300px;
            background: linear-gradient(to right, rgb(129, 6, 6), rgb(189, 10, 10), rgb(227, 4, 93), rgb(241, 51, 146), rgb(228, 103, 161), rgb(242, 149, 195));
            border: 2px solid white;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="gradiant">

    </div>
</body>

</html>
