/* basically for cases where there is multiple child under one tag decoration  */
table, tr, td, th{
    border: 2px solid black; 
}

tr:nth-child(odd){
    background-color: aquamarine;
}

tr:nth-child(even){
    background-color: rgb(241, 78, 135);
}
