<!DOCTYPE html>
<html>
<head>
	<title>CSS Flex Grow</title>
	<style>
		.flex-container{
			background-color: #4535AA;
			padding: 10px;
			display: flex;
		}
		.flex-item{
			background-color: white;
			margin: 20px;
			padding: 20px;
            flex-grow: 1;
		}

		.bigger {
			background-color: #FFB643;
            flex-grow:4;
		}
	</style>
</head>
<body>
	<div class="flex-container">
		<div class="flex-item">Item 1</div>
		<div class="flex-item bigger">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
</body>
</html>
