<!DOCTYPE html>
<html>
<head>
	<title>backface-visibility</title>
	<style>
		h1{
			transform: rotateX(120deg);
			color: #FFB643;
			background-color: #4535AA;
			width: 250px;
			height: 250px;
			padding: 20px;
		}
		.hidden{
            backface-visibility:hidden;
		}
		.visible{
            backface-visibility:visible;
		}
	</style>
</head>
<body>
	<h1 class="hidden">Studytonight</h1>
	<h1 class="visible">Studytonight</h1>
</body>
</html>
